<div class="header">
  <img src="assets/images/background_main.jpg" alt="">
</div>
<div class="container">
	<mat-card class="example-card">
		<img mat-card-image src="assets/images/shiba1.jpg" alt="Photo of a Shiba Inu">
		<mat-card-title>习近平俯身与老英雄握手</mat-card-title>
		<mat-card-content>
			<p>
				中共中央总书记、国家主席、中央军委主席习近平26日在京会见全国退役军人工作会议全体代表，向他们表示诚挚的问候，勉励他们不忘初心、牢记使命，奋力开创我国退役军人工作新局面
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="example-card">
		<img mat-card-image src="assets/images/shiba2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-title>习近平俯身与老英雄握手</mat-card-title>
		<mat-card-content>
			<p>
				2014年5月，习近平在第六次全国军转表彰大会暨2014年军转安置工作会议会见大会代表时，深情地说：“见到大家感到十分亲切，因为我也是一名军转干部。”1979年至1982年间，习近平任国务院办公厅、中央军委办公厅秘书（现役）
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card class="example-card">
		<img mat-card-image src="assets/images/shiba3.jpg" alt="Photo of a Shiba Inu">
		<mat-card-title>深厚情感：“我也是一名军转干部”</mat-card-title>
		<mat-card-content>
			<p>
				习近平总书记指出，早在革命战争年代，就有一批又一批在军队工作的同志服从组织安排到地方工作，为夺取中国革命胜利建功立业。新中国成立后，大批军队干部转业地方工作，为加强政权建设、恢复和发展国民经济作出了重要贡献
			</p>
		</mat-card-content>
	</mat-card>
			
</div>
<div style="text-align:center; margin-top: 50px">
		<h1 class="mat-display-2">
			我们能做什么
			<p class="mat-headline">解决您的核心问题</p>
		</h1>
		
		<div class="blog_tag_item">
			<p>10+</p>
			<p>主题</p>
		</div>
		
		<div class="blog_tag_item">
			<p>60+</p>
			<p>文章</p>
		</div>
		
		<div class="blog_tag_item">
			<p>3000+</p>
			<p>阅读量</p>
		</div>
		
		<div class="blog_tag_item">
			<p>30+</p>
			<p>qita</p>
		</div>
	</div>

	<footer>
			2019 © Lorenzo
	</footer>