<div class="header">
  <img src="assets/images/background_main.jpg" alt="">
</div>
<div class="container">
	<mat-card class="example-card">
		<img mat-card-image src="assets/images/shiba1.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content color='accent'>
			<div class="mat-title">The Shiba Inu is the smallest of the six original</div>
			<p>
				The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
				A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
				bred for hunting.
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card class="example-card">
		<img mat-card-image src="assets/images/shiba2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-title>The Shiba Inu is the smallest of the six original</mat-card-title>
		<mat-card-content>
			<p>
				The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
				A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
				bred for hunting.
			</p>
		</mat-card-content>
	</mat-card>

	<mat-card class="example-card">
		<img mat-card-image src="assets/images/shiba3.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
				A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
				bred for hunting.
			</p>
		</mat-card-content>
	</mat-card>
			
</div>
<div style="text-align:center">
		<h1 class="mat-display-2">
			What should we do!
			<p class="mat-headline">解决nin的核心问题</p>
		</h1>
		
		<div class="blog_tag_item">
			<p>10+</p>
			<p>zhuti</p>
		</div>
		
		<div class="blog_tag_item">
			<p>60+</p>
			<p>wenzhang</p>
		</div>
		
		<div class="blog_tag_item">
			<p>3000+</p>
			<p>yueduliang</p>
		</div>
		
		<div class="blog_tag_item">
			<p>30+</p>
			<p>qita</p>
		</div>
	</div>

	<footer>
			2019 © Lorenzo
	</footer>